<% if (post.tags && post.tags.length) { %>
<div class="post-tags">
<span><%= _.capitalize(__('menu.tags')) %> : </span>
<%- list_tags(post.tags, { show_count: false, style: 'link' }) %>
</div>
<% } %>
