@import "../variables.less";

#footer {
    padding: 30px 0;
    text-align: center;

    a {
        color: var(--theme-link-color);
        border-bottom: thin dashed var(--theme-color);
        text-decoration: none;
        padding: 0 .1em;
    }
}

#footer-info {
    line-height: @line-height;
    font-size: 0.85em;
}
