@import "../variables.less";

#page-nav {
    list-style: none;
    padding: 0;
    font-size: @font-size-sm;
    margin: 2em 0;

    a,
    span {
        display: inline-block;
        margin-right: 5px;
        background-color: var(--theme-grey-color-lt-40);
        padding: .5em .8em;
        border-radius: 2px;
        zoom: 1;
        line-height: normal;
        white-space: nowrap;
        vertical-align: baseline;
        text-align: center;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    a {
        cursor: pointer;
        color: var(--theme-color);
        text-decoration: none;
        transition: all 100ms ease;
        -webkit-transition: all 100ms ease;
        border: 1px dashed transparent;

        &:hover {
            color: var(--theme-color-lt-20);
            background-color:var(--theme-background-hover);
        }

        &:active {
            color: var(--theme-color);
            background-color: transparent;
            border-color: var(--theme-color);
        }
    }

    .current {
        background-color: var(--theme-grey-color-lt-50);
        cursor: not-allowed;
    }
}
