<section id="tags">
    <h2 id="tags-title">
        <%
        const capitalize = (string) => {
            return string ? string.charAt(0).toUpperCase() + string.slice(1).toLowerCase() : '';
        };
        %>
        <%= capitalize(__('menu.tags')) %>
    </h2>
    <div class="tags">
        <% if(site.tags.length) { %>
            <%- list_tags(site.tags, { show_count: false, style: 'link', separator: '' }) %>
        <% } else { %>
            (no cotent)
        <% } %>
    </div>
</section>
