<footer id="footer">
    <div id="footer-info">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br/>
        Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>.
        Theme with <a href="https://github.com/MZIchenjl/hexo-theme-markup" target="_blank">Markup</a>.
     </div>
</footer>
