<% if (site.posts.length) { %>
<div id="recents">
    <h2 class="widget-title"><%= __('widget.recents') %></h2>
    <ul class="widget-list">
        <% site.posts.sort('date', -1).limit(5).each(function(post) { %>
        <li>
            <a class="widget-item-link" href="<%- url_for((post.link?post.link:post.path)) %>">
                <%= post.title %>
            </a>
        </li>
        <% }) %>
    </ul>
</div>
<% } %>
