<% if (site.posts.length) { %>
<div id="recents">
    <h2 id="recents-title"><%= __('widget.recents') %></h2>
    <ul id="recent-posts">
        <% site.posts.sort('date', -1).limit(5).each(function(post) { %>
        <li>
            <a class="recent-post-link" href="<%- url_for((post.link?post.link:post.path)) %>">
                <%= post.title %>
            </a>
        </li>
        <% }) %>
    </ul>
</div>
<% } %>
